<!--
  Generated template for the AllPromotionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Payment</ion-title>
  </ion-navbar>

</ion-header>
  

<ion-content padding>
  <div class="sale" *ngIf="promotions">
    <h3>Buy Packages :</h3>
    <ion-card *ngFor="let promotion of promotions">
     <ion-card-header>{{promotion.title}} </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let test of promotion.test">
        <ion-label>{{test.title}}</ion-label>
      </ion-item>

       
      <ion-item>
        <ion-label>Price</ion-label>
        <ion-label >{{promotion.price}} </ion-label>
        <ion-label >USD</ion-label>

      </ion-item>

    </ion-list>
    <ion-badge color="secondary">90 days access</ion-badge> 

        <button ion-button [hidden]="!admin" round color="danger"(click)="delete(promotion._id)" item-end >   <ion-icon name="trash"></ion-icon></button>
        <button ion-button round full  (click)="buyPromotion(promotion)">Buy</button>

  </ion-card>
  </div>

  <div class="tests" *ngIf="tests">
    <h3>Buy One :</h3>
    <ion-card>
      <ion-card-header>Select From Tests</ion-card-header>
      <ion-list >
          <ion-list-header>
            Tests
          </ion-list-header>
          <ion-item *ngFor="let test of tests">
            <div *ngIf="test.price > 0 ">
           <b  class="title">{{ test.title}}</b>
            <i style="padding:20px;"> {{test.price}} USD</i> 
            <button ion-button outline big round color="primary"  (click)="buy(test)" item-end >BUY</button>
          </div>
          </ion-item>
        
        
        </ion-list>
       <ion-badge color="secondary">90 days access</ion-badge>       
      </ion-card>
  </div>
</ion-content>