<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar >
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input type="text" placeholder="Username" [(ngModel)]="loginInfo.username" name="username" required></ion-input>

          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="loginInfo.password" name="password" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </ion-row>
  </form>
  <ion-row>
    <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button>
  </ion-row>
</ion-content>