<!--
  Generated template for the AddPromotionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addPromotion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="tests" [formGroup]="promForm">
      <ion-list>
          <ion-item>
            <ion-label>Select Tests</ion-label>
            <ion-select  multiple="true" formControlName="test" >

              <ion-option value={{test._id}}_{{test.title}}   *ngFor="let test of tests" >{{ test.title}}</ion-option>
            </ion-select>
        
          </ion-item>
          <ion-item>
              <ion-label floating>Price</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Promotion Title</ion-label>
                <ion-input type="text" formControlName="title"></ion-input>
              </ion-item>
        </ion-list>
        <button type="submit"(click)="add()"[disabled]="promForm.invalid" ion-button round block>ADD</button>
      </div>
</ion-content>
