<!--
  Generated template for the QuestionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>{{test.title}}</ion-title>
    <b style="float:right;padding:20px;"> {{time |formatTime}}</b>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="question">
  <ion-grid>
    <ion-row>
     
       
     
   
    <ion-col>
    
      <button ion-button  color="primary" *ngIf="!question.mark" (click)="mark(question._id)">mark</button>
      <button ion-button  color="primary" *ngIf="question.mark"(click)="unMark(question._id)">unmark</button>
      </ion-col>
      <ion-col>
      <button ion-button color="secondary" *ngIf="!reviewMode" (click)="review()">review </button>
      <button ion-button color="secondary" *ngIf="reviewMode" (click)="exitReview()">exit review </button>

    </ion-col>
    </ion-row>

    <ion-row>
      <p>
       {{ question.title }}
    
      </p>
    </ion-row>
    <ion-row>
      <ion-list radio-group [(ngModel)]="answer">
        <ion-item>
          <ion-radio value="1" item-start></ion-radio>
          <ion-label>{{question.answer1}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="2" item-start></ion-radio>
          <ion-label>{{question.answer2}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="3" item-start></ion-radio>
          <ion-label>{{question.answer3}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="4" item-start></ion-radio>
          <ion-label>{{question.answer4}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row>
      <ion-col>
      <button ion-button  full (click)="getprev()">  <ion-icon name="arrow-dropleft"></ion-icon> </button></ion-col>
      <ion-col *ngIf="isPause">
        <button ion-button (click)="resume()">Resume</button>
      </ion-col>
      <ion-col *ngIf="!isPause">
          <button ion-button (click)="pause()">Pause</button>
        </ion-col>
      <ion-col>
      <button ion-button  full (click)="getnext()">  <ion-icon name="arrow-dropright"></ion-icon> </button></ion-col>

    </ion-row>
    <ion-row>
      <button ion-button outline (click)="submit()" color="primary" style="margin-left:20%;" >Submit Test</button>
    </ion-row>
 
  </ion-grid> 
</div>
</ion-content>