<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form (ngSubmit)="register()" #registerForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>
  
              <ion-item>
                <ion-input type="text" placeholder="First Name" name="firstname" [(ngModel)]="registerInfo.firstname" required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="text" placeholder="Last Name" name="lastname" [(ngModel)]="registerInfo.lastname" required></ion-input>
                </ion-item>
              <ion-item>
                <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="registerInfo.email" required email></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="registerInfo.username" required></ion-input>
                </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerInfo.password" required></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-input type="password" placeholder="Confirm Password" name="confirmation_password" [(ngModel)]="registerInfo.confirmation_password" required></ion-input>
              </ion-item>
  
            </ion-list>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
          </ion-col>
        </ion-row>
  
      </form>
</ion-content>
