<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

       <ion-title>My Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list *ngIf="user">
  <ion-list-header>
    Personal Information
  </ion-list-header>
  <ion-item>
    <ion-label >First Name</ion-label>
    <ion-label>{{user.firstname}}</ion-label>
  </ion-item>
  <ion-item>
      <ion-label >Last Name</ion-label>
      <ion-label>{{user.lastname}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label >Email</ion-label>
        <ion-label>{{user.email}}</ion-label>
      </ion-item>
   
</ion-list>
<ion-list *ngIf="payments">
  <ion-list-header>
      Payment History
  </ion-list-header>
  <ion-item *ngFor="let payment of payments">
   {{payment.testId}}
  </ion-item>
</ion-list>
<div *ngIf="admin">

<button ion-button outline (click)="addTest()">ADD NEW TEST</button>
<button ion-button outline (click)="addSale()">ADD NEW SALE</button>
<button ion-button outline (click)="sendEmail()">SEND EMAIL</button>
<button ion-button outline (click)="manageTest()">Manage Test & Questions</button>
<button ion-button outline (click)="managePromotion()">Manage Packages </button>
</div>
</ion-content>
