page-result {
  #listButton{
    display: inline;
  }
  #breakdown{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td,th{
        border: 1px solid #ddd;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(76, 139, 175);
        color: white;
    }
  }
  #qresult{
.button:hover {background-color: #a5f1eb}

.button:active {
  background-color: #3e4a8e;
  box-shadow: 0 5px rgb(32, 35, 161);
  transform: translateY(4px);
}
button:focus{
    background:olive;
}
    
  }

  #explanation{
    border: 2px solid rgb(73, 68, 68);
    border-radius: 5px;
    background-color: rgb(175, 173, 173) ;
    padding :10px;
  }
}
