<!--
  Generated template for the ResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Result</ion-title>
  </ion-navbar>

</ion-header>



  <ion-content padding>
      <div padding>
          <ion-segment [(ngModel)]="res">
            <ion-segment-button value="result">
              Result
            </ion-segment-button>
            <ion-segment-button value="details">
              Details
            </ion-segment-button>
          </ion-segment>
        </div>
    <div [ngSwitch]="res">
      
     
        <div *ngSwitchCase="'result'">
            <div *ngIf="finalResult >=70">
                <h2>Congratulations , You Pass The Exam With {{finalResult}}%</h2>
              </div>
              <div *ngIf="finalResult < 70">
                  <h2> You Fail Passing The Exam With {{finalResult}}% </h2>
                </div>
        <table id="breakdown" >
      <tr>
        <th>
          Process Group
        </th>
        <th>Total Q's</th>
        <th>Correct Q's</th>
        <th>Score</th>
      </tr>
      <tr>
        <th>
          Initiation
        </th>
        <td>{{result.tp1}}</td>
        <td>{{result.p1}}</td>
        <td>{{process1 || 0}}%</td>
        

      </tr>
      <tr>
        <th>
          Planning
        </th>
        <td>{{result.tp2}}</td>
        <td>{{result.p2}}</td>
        <td>{{process2 || 0 }}%</td>
      </tr>
      <tr>
        <th>
          Executing
        </th>
        <td>{{result.tp3}}</td>
        <td>{{result.p3}}</td>
        <td>{{process3  || 0}}%</td>
      </tr>
      <tr>
        <th>
          Monitoring and Controlling
        </th>
        <td>{{result.tp4}}</td>
        <td>{{result.p4}}</td>
        <td>{{process4 || 0 }}%</td>
      </tr>
      <tr>
        <th>
          Closing
        </th>
        <td>{{result.tp5}}</td>
        <td>{{result.p5}}</td>
        <td>{{process5 || 0 }}%</td>
      </tr>

    </table>
   </div>
    <!--//////////////////////////////////////////////////////////////-->
    <div *ngSwitchCase="'details'">
      <div padding id="qresult">
        
        <div *ngFor="let ques of test.questions" id="listButton">
          <button ion-button outline (click)="getQuestion(ques)"> Q</button>
        </div>  
        
        
      </div>
      <div padding id="q" *ngIf="question">
        <h4>{{ selectedAnswer }}</h4>
        <p>
        {{question.title}}
        </p>
        <ion-list>
          <ion-item>
            <ion-icon *ngIf="question.correct == 1" name="checkmark" color="secondary"></ion-icon>
            {{ question.answer1}}
          </ion-item>
          <ion-item>
            <ion-icon *ngIf="question.correct == 2" name="checkmark" color="secondary"></ion-icon>
            {{ question.answer2}}
          </ion-item>
          <ion-item>
              <ion-icon *ngIf="question.correct == 3" name="checkmark" color="secondary"></ion-icon>
            {{ question.answer3}}
          </ion-item>
          <ion-item>
              <ion-icon *ngIf="question.correct == 4" name="checkmark" color="secondary"></ion-icon>
            {{ question.answer4}}
          </ion-item>
        </ion-list>
        <div id="explanation">
          {{question.explanation}}
        </div>
      </div>
    </div>
</div>
</ion-content>