<!--
  Generated template for the TestDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Test Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header style="text-align:center;">
    <b> {{test.title | uppercase}}</b>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <p>
        {{test.description}}
        </p>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          Questions
        </ion-col>
        <ion-col>
         {{test.numQ}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>Time</ion-col>
        <ion-col>{{test.time}}</ion-col>
        <ion-col col-3>Minutes</ion-col>
      </ion-row>
      <ion-row>
        <button ion-button outline color="primary" block (click)="startTest(test._id,test.price)" >START</button>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>