<!--
  Generated template for the UserMsgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button round color="primary" block (click)="sendEmailToAll()" >Send Email To All</button>
  <ion-list>
    <ion-item-sliding *ngFor="let user of users">
      <ion-item>
        <h2>{{user.firstname}}{{ user.lastname }}</h2>
        <h4>{{ user.email }}</h4>
      </ion-item>
      
      <ion-item-options side="right">
        <button ion-button color="primary" click="sendToUser(user.email)">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
