page-home {
    .card-background-page {
       
        ion-card {
          position: relative;
          text-align: center;
          background-color: rgb(193, 243, 245); 
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 90%;
            width: 100%;
            color: rgb(38, 23, 177);
          }
      
       
      
      }
      
}
