<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>



    <ion-title>
      PMteaching
    </ion-title>

    <div style="float:right">
      <a *ngIf="username">{{username}}</a>
      <a *ngIf="username" ion-button outline (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </a>
    </div>

  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

  <ion-card >
    <ion-img src="assets/imgs/logo.png"  width="200" height="400" style="background-color: rgb(193, 243, 245);"> </ion-img>

   
    <div class="card-subtitle">Pass The PMP Exam On First Try.</div>
  </ion-card>
  <button ion-button round full (click)="start()">Start</button>
</ion-content>