<!--
  Generated template for the AddTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Update Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div [formGroup]="addForm" *ngIf="test">
    <ion-list>
      <ion-item>
        <ion-label stacked>Title</ion-label>
        <ion-input type="text" formControlName="title" value={{test.title}}></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-input type="text" formControlName="description" value={{test.description}}></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Time (Minutes)</ion-label>
        <ion-input type="number" formControlName="time" value={{test.time}}></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Price (USD)</ion-label>
        <ion-input type="number" formControlName="price" value={{test.price}}></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>How Many Questions ?</ion-label>
        <ion-input type="number" formControlName="numQ" value={{test.numQ}}></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button round color="primary" (click)="updateTest()" [disabled]="addForm.invalid" block>Update Test

        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>