<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>

          Menu
          <img style="width:60px;height:60px;float:right;"  src="assets/imgs/logo.png" />

      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name={{p.icon}}></ion-icon>
        {{p.title}}
      </button>
      <button ion-item menuClose (click)="review()"><ion-icon name="star"></ion-icon> Review</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>