<!--
  Generated template for the AddQPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Question</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div [formGroup]="qForm">
    <ion-list>

      <ion-item>
        <ion-label stacked>Question</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Answer 1</ion-label>
        <ion-input type="text" formControlName="answer1" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Answer 2</ion-label>
        <ion-input type="text" formControlName="answer2" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Answer 3</ion-label>
        <ion-input type="text" formControlName="answer3" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Answer 4</ion-label>
        <ion-input type="text" formControlName="answer4" ></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Correct Answer</ion-label>
  
          <ion-select  formControlName="correct">
            <ion-option value="1" selected="true">First Answer</ion-option>
            <ion-option value="2">Second Answer</ion-option>
            <ion-option value="3">Third Answer</ion-option>
            <ion-option value="4">Fourth Answer</ion-option>
  
          </ion-select>
  
        </ion-item>
      <ion-item>
        <ion-label>Process Group</ion-label>

        <ion-select  okText="Okay!" formControlName="process">
          <ion-option value="1" selected="true">Initiation</ion-option>
          <ion-option value="2">Planning</ion-option>
          <ion-option value="3">Executing</ion-option>
          <ion-option value="4">Monitoring and Controlling</ion-option>
          <ion-option value="5">Closing</ion-option>

        </ion-select>

      </ion-item>
      <ion-item>
        <ion-label>Other Breakdown</ion-label>

        <ion-select  okText="Okay!" formControlName="other">
          <ion-option value="1">PMP® Mathematics </ion-option>
          <ion-option value="2">PMP® Professional Responsibility</ion-option>
          <ion-option value="3">PMP® ITTOs</ion-option>
          <ion-option value="4" selected="true">Other</ion-option>

        </ion-select>

      </ion-item>
      <ion-item>
        <ion-label stacked>Explanation</ion-label>
        <ion-textarea formControlName="explanation"> </ion-textarea>
      </ion-item>
      <button ion-button round color="primary" (click)="addQ()" [disabled]="qForm.invalid">ADD</button>

    </ion-list>
  </div>
</ion-content>