<!--
  Generated template for the TestsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 
 

    <ion-list>

     <ion-item *ngFor="let test of tests">
     <button ion-button round block color="primary" (click)="open(test)">{{test.title}}

     </button>
     
     <ion-badge *ngIf="test.price < 1" color="secondary"item-end>FREE</ion-badge>
     <ion-badge *ngIf="test.price > 1" color="danger" item-end>PREMIUM</ion-badge>

     </ion-item>


    </ion-list>
 

</ion-content>
<!--  <ion-badge color="secondary" item-end>FREE</ion-badge> -->