<!--
  Generated template for the AddTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <div [formGroup]="addForm">
  <ion-list>
        <ion-item>
          <ion-label stacked>Title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label stacked>Description</ion-label>
          <ion-input type="text" formControlName="description" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Time (Minutes)</ion-label>
            <ion-input type="number" formControlName="time"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked>Price (USD)</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>How Many Questions ?</ion-label>
              <ion-input type="number" formControlName="numQ"></ion-input>
            </ion-item>
        <ion-item>
            <button  ion-button round color="primary" (click)="addTest()" [disabled]="addForm.invalid"  block>Next   
               <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-item>
      </ion-list>
    </div>
</ion-content>
