<!--
  Generated template for the PaymentInAppPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>paymentInApp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let product of products">
    <ion-card-header>{{product.title}}</ion-card-header>
    <ion-card-content>{{product.description}}</ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button (click)="buy(product.productId)">
          buy now - {{product.price}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
