<!--
  Generated template for the AboutmePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
  <ion-navbar >
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>About Me</ion-title>
   
  </ion-navbar>

</ion-header>

   
<ion-content padding>
  <ion-img  src="assets/imgs/adel.jpg" style=" vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;" ></ion-img>
  <h1>Adel Mansour</h1>
  <p> PMP ,Six Sigma(6 Sigma ™) ,Scrum ™(SFC ™) professional</p>
  <p>
    Adel is passionate about helping students pass the PMP Certification Exam.

  </p>
  <ion-list>
    <ion-list-header>
      Certifications
    </ion-list-header>
    <ion-item> Project Management Professional (PMP ®)</ion-item>

    <ion-item> Scrum ™ (SFC ™)</ion-item>

    <ion-item> Six Sigma (6 Sigma ™)</ion-item>

    <ion-item> Cost management </ion-item>

    <ion-item> Contract management</ion-item>

    <ion-item> Quality management</ion-item>
  </ion-list>
</ion-content>