<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>admin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="tests" [formGroup]="testForm">
      <ion-label>Select Test</ion-label>
      <ion-select formControlName="testId">
      
        <ion-option *ngFor="let test of tests" value={{test._id}} >{{test.title}}</ion-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-button (click)="getTest()" [disabled]="testForm.invalid"color="primary">GEt</button>
    </ion-item>
  </ion-list>

  <div class="testSection" *ngIf="test">
    <table>
      <tr>
        <th>Title</th>
        <td> {{test.title}} </td>
      </tr>
      <tr>
        <th>Price</th>
        <td> {{test.price}} USD</td>
      </tr>
      <tr>
        <th>Description</th>
        <td> {{test.description}}</td>
      </tr>
      <tr>
        <th>Time</th>
        <td> {{test.time}} sec </td>
      </tr>
      <tr>
        <td>
          <button ion-button round color="primary" (click)="updateTest(test)">Update</button>
        </td>
        <td>
          <button ion-button round color="danger" (click)="deleteTest(test._id)">  <ion-icon name="trash"></ion-icon></button>
        </td>
      </tr>
    </table>
  
  <div class="questionSection" *ngFor="let q of test.questions">
    <ion-grid >
      <ion-row>
        <p class="question"> {{q.title}} </p>
       
      </ion-row>
      <ion-list>
    <ion-item class="answer">{{q.answer1}}</ion-item>
    <ion-item class="answer">{{q.answer2}}</ion-item>
    <ion-item class="answer">{{q.answer3}}</ion-item>
    <ion-item class="answer">{{q.answer4}}</ion-item>
  </ion-list>
    <ion-row class="explanation">
      {{q.explanation}}
    </ion-row>
    <ion-row> 
        <button ion-button round color="primary" (click)="updateQ(q._id,test._id)">Update</button>

      <button ion-button round color="danger" (click)="deleteQ(q._id,test._id)">  <ion-icon name="trash"></ion-icon></button>
    </ion-row>
    </ion-grid>

  </div>
</div>

</ion-content>