page-admin {
  .testSection{
      margin-bottom: 5px; 
      table{
        border: 1px solid black;
         td,th{
            padding: 15px;
        }
      }
     
  }

  .questionSection{
    margin-bottom: 5px;  
    padding:5px;
    border: 1px solid black;
  }
  .question{
    font-weight: bold;
  }
  .answer{
    font-style: italic;
  }
  .explanation{
      background-color: gray;
      padding:5px; 
  }

  
  
}
